.thumbnail img {
    width: 100%;
  }
  
  .thumbnail {
    padding: 0;
  }
  
  .thumbnail .caption-full {
    padding: 9px;
  }
  
  #delete-form {
    display: inline;
  }
  
input{
  display: block;
}
.heading{
  font-size: 40px;
  font-weight: 400;
}
form{
  margin: auto 35%;
}
.row{
  height: 400px !important;
}